/** LSX Importer for Wetu Styles */
body.tour-operator_page_lsx-wetu-importer {
  /* Home Screen */
  /* Tour / Accommodation / Destinations */ }
  body.tour-operator_page_lsx-wetu-importer .tablenav.top {
    height: auto; }
  body.tour-operator_page_lsx-wetu-importer #posts-filter .manage-column {
    cursor: pointer; }
  body.tour-operator_page_lsx-wetu-importer .image-settings td {
    line-height: 1.5; }
  body.tour-operator_page_lsx-wetu-importer label[for="wetu_api_key"] {
    display: flex;
    align-items: center; }
    body.tour-operator_page_lsx-wetu-importer label[for="wetu_api_key"] #doc-tooltip {
      width: 25px; }
  body.tour-operator_page_lsx-wetu-importer .tooltip {
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    text-align: left;
    outline: none; }
    body.tour-operator_page_lsx-wetu-importer .tooltip .tooltip-inner {
      display: none; }
      @media (max-width: 782px) {
        body.tour-operator_page_lsx-wetu-importer .tooltip .tooltip-inner.clicked {
          display: block;
          outline: none;
          font-size: 14px; } }
  body.tour-operator_page_lsx-wetu-importer #posts-filter, body.tour-operator_page_lsx-wetu-importer #import-list {
    margin-top: 15px; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter .column-order, body.tour-operator_page_lsx-wetu-importer #import-list .column-order {
      display: none; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter .check-column input, body.tour-operator_page_lsx-wetu-importer #import-list .check-column input {
      margin: 0 0 0 8px; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter thead .sorting_asc::after, body.tour-operator_page_lsx-wetu-importer #posts-filter thead .sorting_desc::after, body.tour-operator_page_lsx-wetu-importer #posts-filter tfoot .sorting_asc::after, body.tour-operator_page_lsx-wetu-importer #posts-filter tfoot .sorting_desc::after, body.tour-operator_page_lsx-wetu-importer #import-list thead .sorting_asc::after, body.tour-operator_page_lsx-wetu-importer #import-list thead .sorting_desc::after, body.tour-operator_page_lsx-wetu-importer #import-list tfoot .sorting_asc::after, body.tour-operator_page_lsx-wetu-importer #import-list tfoot .sorting_desc::after {
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 1;
      font-family: dashicons;
      text-decoration: inherit;
      font-weight: normal;
      font-style: normal;
      vertical-align: top;
      text-align: center;
      transition: color .1s ease-in 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter thead .sorting_asc::after, body.tour-operator_page_lsx-wetu-importer #posts-filter tfoot .sorting_asc::after, body.tour-operator_page_lsx-wetu-importer #import-list thead .sorting_asc::after, body.tour-operator_page_lsx-wetu-importer #import-list tfoot .sorting_asc::after {
      content: "\f140"; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter thead .sorting_desc::after, body.tour-operator_page_lsx-wetu-importer #posts-filter tfoot .sorting_desc::after, body.tour-operator_page_lsx-wetu-importer #import-list thead .sorting_desc::after, body.tour-operator_page_lsx-wetu-importer #import-list tfoot .sorting_desc::after {
      content: "\f142"; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter td.post-title, body.tour-operator_page_lsx-wetu-importer #import-list td.post-title {
      font-weight: 600;
      font-size: 14px; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter .dataTables_info, body.tour-operator_page_lsx-wetu-importer #posts-filter .dataTables_length, body.tour-operator_page_lsx-wetu-importer #import-list .dataTables_info, body.tour-operator_page_lsx-wetu-importer #import-list .dataTables_length {
      display: inline-block;
      width: 50%; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter .top, body.tour-operator_page_lsx-wetu-importer #import-list .top {
      margin-bottom: 10px; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter .bottom .dataTables_paginate, body.tour-operator_page_lsx-wetu-importer #import-list .bottom .dataTables_paginate {
      margin-top: 10px; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter .dataTables_paginate, body.tour-operator_page_lsx-wetu-importer #import-list .dataTables_paginate {
      display: inline-block;
      width: 50%;
      height: 28px;
      cursor: default;
      color: #555;
      text-align: right; }
    body.tour-operator_page_lsx-wetu-importer #posts-filter .paginate_button, body.tour-operator_page_lsx-wetu-importer #import-list .paginate_button {
      height: 16px;
      display: inline-block;
      min-width: 17px;
      border: 1px solid #ccc;
      padding: 7px 4px 3px;
      background: #e5e5e5;
      font-size: 13px;
      line-height: 1;
      font-weight: 400;
      text-align: center;
      margin: 0px 2px;
      color: #0073aa;
      cursor: pointer; }
      body.tour-operator_page_lsx-wetu-importer #posts-filter .paginate_button.disabled, body.tour-operator_page_lsx-wetu-importer #import-list .paginate_button.disabled {
        pointer-events: none;
        border-color: #ddd;
        background: #f7f7f7;
        color: #a0a5aa; }
      body.tour-operator_page_lsx-wetu-importer #posts-filter .paginate_button:hover, body.tour-operator_page_lsx-wetu-importer #posts-filter .paginate_button.current, body.tour-operator_page_lsx-wetu-importer #import-list .paginate_button:hover, body.tour-operator_page_lsx-wetu-importer #import-list .paginate_button.current {
        border-color: #5b9dd9;
        color: #fff;
        background: #00a0d2;
        box-shadow: none;
        outline: none; }
      body.tour-operator_page_lsx-wetu-importer #posts-filter .paginate_button::last-child, body.tour-operator_page_lsx-wetu-importer #import-list .paginate_button::last-child {
        margin-right: 0; }
  body.tour-operator_page_lsx-wetu-importer .row.section {
    margin-bottom: 25px; }
    body.tour-operator_page_lsx-wetu-importer .row.section h1 {
      padding: 0px 0 4px 0; }
  body.tour-operator_page_lsx-wetu-importer .welcome-block-header, body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox {
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
    min-width: unset;
    padding: 8px 12px; }
    body.tour-operator_page_lsx-wetu-importer .welcome-block-header:last-child, body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox:last-child {
      margin-right: 0px; }
  body.tour-operator_page_lsx-wetu-importer .welcome-block-header {
    color: #0073aa;
    text-align: center;
    width: calc(24% - 27px);
    position: relative;
    z-index: 2; }
    body.tour-operator_page_lsx-wetu-importer .welcome-block-header a:focus {
      box-shadow: none; }
    body.tour-operator_page_lsx-wetu-importer .welcome-block-header .heading a {
      text-decoration: none; }
    body.tour-operator_page_lsx-wetu-importer .welcome-block-header .value span {
      display: block;
      color: white;
      background-color: #0073aa;
      padding: 10px;
      border-radius: 25px 25px 25px 25px;
      width: 20px;
      height: 20px;
      display: inline-block; }
    body.tour-operator_page_lsx-wetu-importer .welcome-block-header .value a:hover span {
      background-color: #00a0d2; }
  body.tour-operator_page_lsx-wetu-importer .spacer {
    box-sizing: border-box;
    width: 98%;
    border-top: 1px solid #979797;
    opacity: 0.33;
    margin: -43px auto 0 auto;
    position: absolute;
    bottom: 40px;
    left: 1%;
    z-index: 1; }
  body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox {
    width: calc(24% - 25px); }
    @media (max-width: 1670px) {
      body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox {
        width: calc(24% - 26px); } }
    @media (max-width: 1272px) {
      body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox {
        width: calc(24% - 27px); } }
    @media (max-width: 690px) {
      body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox {
        width: calc(48% - 27px); } }
    body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox h2.title {
      height: 2em;
      line-height: 28px;
      margin: 0 0 2em 0; }
      @media (max-width: 910px) {
        body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox h2.title {
          height: 3em; } }
    body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox .excerpt {
      min-height: 100px; }
    body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox .button {
      width: 100%;
      text-align: center; }
    body.tour-operator_page_lsx-wetu-importer .welcome-block.postbox .link-list li a {
      font-size: 14px; }
  body.tour-operator_page_lsx-wetu-importer .wetu-status h3 {
    margin: 0px; }
  body.tour-operator_page_lsx-wetu-importer .subsubsub {
    margin-bottom: 10px; }
  body.tour-operator_page_lsx-wetu-importer .documentation {
    list-style: none;
    margin: 11px 0 0;
    padding: 0;
    font-size: 13px;
    float: left;
    text-decoration: none; }
    body.tour-operator_page_lsx-wetu-importer .documentation:before {
      content: "|";
      color: #666;
      margin-right: 6px;
      margin-left: 6px; }
  body.tour-operator_page_lsx-wetu-importer #lsx-wetu-importer-search-form .normal-search {
    display: inline-block; }
    body.tour-operator_page_lsx-wetu-importer #lsx-wetu-importer-search-form .normal-search input.keyword {
      height: 30px; }
  body.tour-operator_page_lsx-wetu-importer .advanced-search-toggle {
    display: inline-block;
    margin-top: 0; }
  body.tour-operator_page_lsx-wetu-importer .widefat .check-column {
    padding: 6px 0 6px;
    vertical-align: middle; }
  body.tour-operator_page_lsx-wetu-importer .widefat #the-list .check-column {
    vertical-align: top;
    padding: 10px 0 6px; }
  body.tour-operator_page_lsx-wetu-importer #import-list .widefat .check-column {
    vertical-align: top;
    padding: 10px 0 6px; }
